$background-color: #100F0F;
$accent-color: #FF1202;
$text-color: #FFFFFF;
$secondary-text-color: #BBBBBB;

.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 5%;
    color: $text-color;

    &__content{
        max-width: 45%;
        text-align: left;
        
        h2{
            font-size: 3.5rem;
            color: $text-color;
            margin-bottom: 30px;
            font-weight: bold;

            span{
                color: $accent-color;
            }
        }
        p{
            font-size: 1.5rem;
            color: $secondary-text-color;
            line-height: 1.8;
            margin-bottom: 20px;
        }
    }

    .experience__image{
        max-width: 50%;
        text-align: center;

        img{
            width: 150%;
            // height: auto;
            max-width: 100vh;
        }
    }
}

@media (max-width: 768px) {
    .experience {
      flex-direction: column;
      text-align: center;
  
      &__content,
      &__image {
        max-width: 100%;
      }
  
      &__content {
        margin-bottom: 40px;
      }
    }
  }
