$background-color: #100F0F;
$text-color: #FFFFFF;
$accent-color: #FF1202;
$nav-background-color: #181820;
$secondary-text-color: #BBBBBB;

.navbar {
  background-color: $nav-background-color;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2000;

  .navbar__nav {
    width: 100%;
    max-width: 1200px;
  }

  .navbar__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;

    li {
      position: relative;

      &.navbar__logo-container {
        display: flex;
        align-items: center;

        .navbar__logo {
        transform: translateY(10px);
          height: 150px;
          width: auto;
        }
      }

      a {
        color: $accent-color !important; // Добавляем !important для проверки
        text-decoration: none !important; // Убираем подчеркивание
        font-size: 1.1rem !important;
        font-weight: 500 !important;
        transition: color 0.3s, transform 0.3s;

        &:hover {
          color: $text-color !important; // Цвет текста при наведении
          transform: translateY(-3px); // Небольшой подъем при наведении для акцента
        }
      }
    }
  }
}

// Стили для Dropdown-меню
.navbar__dropdown-menu {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: top center;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $nav-background-color;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  transition: opacity 0.5s ease, transform 0.5s ease;

  &.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    animation: dropdownFadeIn 0.5s ease forwards;
    border-radius: 20px;
  }

  &.close {
    animation: dropdownFadeOut 0.5s ease forwards;
  }
}

@keyframes dropdownFadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dropdownFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

// Стили для ссылок в Dropdown-меню
.navbar__dropdown-menu a {
  display: block;
  color: $accent-color !important; // Добавляем !important для проверки
  padding: 5px 10px;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-10px);
  animation: dropdownFadeIn 0.5s ease forwards;

  &:nth-child(1) {
    animation-delay: 0.1s;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:hover {
    color: $text-color !important;
    transform: translateX(5px);
    transition: transform 0.3s ease;
  }
}
